.popup__title {
  max-width: 330px;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: black;
  margin: 0;
  margin-bottom: 48px;
}

@media screen and (max-width: 500px) {
  .popup__title {
    max-width: 238px;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 75px;
  }
}
